.about {
    background-color: white;
    padding: 3em;
}
.leftColumn, .rightColumn {
    margin: 2em;
}

/* Left column */
.rightColumn {
    margin: 5em;
}

.header {
    font-size: 4em;
    margin: 0px;
    color: #324e37;
}

.name {
    font-size: 1.75em;
    color: #45804f;
}

@media (max-width: 768px) {
    .rightColumn {
        margin: 0;
    }
    .header {
        font-size: 3em;
    }
    .name {
        font-size: 1.65em;
    }
}

/* Right column */
.leftColumn {
}

.picture {
    border-radius: 50%;
}


