.about {
    background-color: white;
    padding: 3em;
}
.leftColumn, .rightColumn {
    margin: 2em;
}

/* Right column */
.rightColumn {
    margin: 5em;
}

.divider {
    width: 5rem;
    height: 0.30rem;
    background-color: #4d8f58;
    margin-top: 1.5em;
    margin-bottom: 2em;
  }

.header {
    font-size: 4.4em;
    margin: 0px;
    color: #324e37;
}

.name {
    font-size: 2em;
    color: #45804f;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.description {
    margin-top: 2.5em;
    line-height: 2.1em;
    font-size: 1.4em;
}

@media (max-width: 768px) {
    .rightColumn {
        margin: 0;
    }
    .header {
        font-size: 3em;
    }
    .name {
        font-size: 1.65em;
    }
    .description {
        font-size: 1.2em;
    }
}

/* Left column */
.leftColumn {
    text-align: center;
}

.picture {
    border-radius: 25%;
    width: 25vw;
}

@media (max-width: 768px) {
    .picture {
        width: 50vw;
    }
}


