.hero {
  text-align: center;
}

.image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 560px;
  width: 100%;
}

.picture {
  border-radius: 50%;
}

.details {
  background: var(--background);
  left: 0;
  max-width: 40rem;
  width: 85%;
  padding: var(--space-2xl) var(--size-gutter) 0;
  position: absolute;
}

.divider {
  width: 5rem;
  height: 0.30rem;
  /*background-color: rgb(102, 126, 112);*/
  background-color: white;
  margin: 2em auto;
}

.aloha {
  letter-spacing: 0.025em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin-top: 0.25em;
  /*color: #504136;*/
  color: white;
  margin-bottom: 0.02em;
}

.description {
  /*color: #5d7060;*/
  color: white;
  font-weight: 600;
  letter-spacing: 0.10em;
  font-size: 1.1em;
}

.content {
  font-size: var(--text-lead);
  font-weight: var(--semibold);
  margin: 0;
}

@media (min-width: 480px) {
  .details {
    padding-top: var(--space-3xl);
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: var(--size-gutter);
  }

  .details {
    max-width: 44rem;
    padding: var(--space-3xl) var(--size-gutter) 0;
  }
}

@media (min-width: 1024px) {
  .image {
    margin-left: auto;
    width: 85%;
  }

  .details {
    left: var(--size-gutter);
    padding: var(--space-3xl) var(--size-gutter) 0 0;
  }
}
